.column {
  width: 300px;
  float: left;

}
.img {
  float:left;
  margin: 12px;
  padding: 5px;
}
.sidebar {
  float: right;
  background-color: yellow;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  margin: 12px;
  padding: 5px;
}
.box {
  border: 3px solid green;
  border-radius: 5px;
  padding: 5px;
  margin: 12px;
  background-color: #ffcc99;
}
